src/main/java/be/luxuryoverdosis/baseapp/business/webservice/wsdl/user-1.0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="User_v1" 
					targetNamespace="http://www.luxuryoverdosis.be/user/definition/v1"
					xmlns:tns="http://www.luxuryoverdosis.be/user/definition/v1" 
					xmlns:v1="http://www.luxuryoverdosis.be/user/schema/v1" 
					xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
					xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.luxuryoverdosis.be/user/schema/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:complexType name="Message">
			<xs:sequence>
				<xs:element name="message" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="User">
			<xs:sequence>
				<xs:element name="userName" type="xs:string" />
				<xs:element name="encryptedPassword" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="dateExpiration" type="xs:string" />
				<xs:element name="roles" type="v1:Roles" />
			</xs:sequence>
			<xs:attribute ref="v1:Name" use="required" />
		</xs:complexType>
		<xs:complexType name="Roles">
	        <xs:sequence>
	            <xs:element name="role" type="v1:Role" maxOccurs="unbounded" />
	        </xs:sequence>
	    </xs:complexType>
		<xs:complexType name="Role">
	        <xs:sequence>
	            <xs:element name="name" type="xs:string" />
	        </xs:sequence>
	    </xs:complexType>
		<xs:attribute name="Name" type="xs:string" />
		
		<xs:element name="CreateOrUpdateUserRequest">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="User" type="v1:User" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="CreateOrUpdateUserResponse">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Message" type="v1:Message" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		
		<xs:element name="ReadUserRequest">
			<xs:complexType>
				<xs:attribute ref="v1:Name" use="required" />
			</xs:complexType>
		</xs:element>
		<xs:element name="ReadUserResponse">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="User" type="v1:User" />
					<xs:element name="Message" type="v1:Message" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		
		<xs:element name="ReadAllUsersRequest">
			<xs:complexType>
				<xs:sequence />
			</xs:complexType>
		</xs:element>
		<xs:element name="ReadAllUsersResponse">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="User" type="v1:User" maxOccurs="unbounded"/>
					<xs:element name="Message" type="v1:Message" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		
		<xs:element name="DeleteUserRequest">
			<xs:complexType>
				<xs:attribute ref="v1:Name" use="required" />
			</xs:complexType>
		</xs:element>
		<xs:element name="DeleteUserResponse">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Message" type="v1:Message" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
    </xs:schema>
  </wsdl:types>
  
  <wsdl:message name="CreateOrUpdateUserRequest">
    <wsdl:part element="v1:CreateOrUpdateUserRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReadUserRequest">
    <wsdl:part element="v1:ReadUserRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReadAllUsersRequest">
    <wsdl:part element="v1:ReadAllUsersRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteUserRequest">
    <wsdl:part element="v1:DeleteUserRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="User_v1">
    <wsdl:operation name="CreateOrUpdateUserRequest">
      <wsdl:input name="CreateOrUpdateUserRequest" message="tns:CreateOrUpdateUserRequest"/>
    </wsdl:operation>
    <wsdl:operation name="ReadUserRequest">
      <wsdl:input name="ReadUserRequest" message="tns:ReadUserRequest"/>
    </wsdl:operation>
    <wsdl:operation name="ReadAllUsersRequest">
      <wsdl:input name="ReadAllUsersRequest" message="tns:ReadAllUsersRequest"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserRequest">
      <wsdl:input name="DeleteUserRequest" message="tns:DeleteUserRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="User_v1_SOAP" type="tns:User_v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateOrUpdateUserRequest">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreateOrUpdateUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReadUserRequest">
      <soap:operation soapAction=""/>
      <wsdl:input name="ReadUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReadAllUsersRequest">
      <soap:operation soapAction=""/>
      <wsdl:input name="ReadAllUsersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserRequest">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeleteUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="User_v1">
    <wsdl:port binding="tns:User_v1_SOAP" name="User_v1_SOAP">
      <soap:address location="http://localhost/Baseapp/services/user"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
